<% if @bookings.empty? %>
	<br>
	<strong>No Bookings pending.</strong>
<% else %>
	<br>
	<strong>Bookings pending</strong>
	<% @bookings.each do |booking,index| %>
		<li id="<%= booking.id %>"><%= booking.start_date %> - <%= link_to "confirm booking", booking_path(booking) ,method: :patch ,remote: true %></li>
		<% end %>
<% end %>