<% if @reviews.empty? %>
	<br>
	<strong>No reviews yet.</strong>
<% else %>
	<strong>Listing Reviews</strong>
	<% @reviews.each do |review| %>
	<li><%= review.body %></li>
	<% end %>
<% end %>
<br>
<%= render 'form' %>